.app{
  font-family: "Century Gothic", serif;

}

.body { 
  width: 800px;
}

button:hover {
  background: #8ba61354;
}

button{
  background-color: white;
  cursor: pointer;
}


.member_arrow{
  top: 100px;
  left: 1255px;
  background-color: red;
  height: 100px;
  width: 20px;
  position: absolute;      

}

.member_shape button{
    position: absolute;      
    width: 55px;
    height: 55px;
    border-radius: 50px;
    top: 100px;
    left: 1210px;
    display: inline-block;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border: none;

    
}

.member_inside{
  flex-direction: column;
  align-items: center;
  border: none;

}

.eyes{
  color: black;
  font-size: 45px;
  height: 25px;
  padding-bottom: 20px;
  -webkit-text-stroke: 3px #ffffff;
}

.add_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: center;
  width: 120px;
  padding-top: 10px;
  justify-content: center;
  height: 100%;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 40px;
  margin-top: 10px;



}

.add_member_whole{
  display: flex;
  width: 300px;
  flex-direction: column;
  float: left;
  display: block;
  align-items: center;

}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 80px;


}

.add_member_whole button{
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  color: #2d3b04;
  letter-spacing: inherit;  
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 80px;
  text-align: center;
  padding: 0px;
  letter-spacing: 3px;
  display: block;
  border-color: #8ba61354;
  border-style: solid;
  border-width: medium;
  height: 35px;
  border-radius: 25px;
  font-size: 15px;
  margin-left: 10px;


}

.left_panel{
  border: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

label{
  display: inline-block;
  text-align: center;
  color: hwb(76 1% 64%);
  font-size: 15px;	
  padding-top: 15px;
  padding-bottom: 10px;
  letter-spacing: 5px;
  width: 200px;
}

h1{
  color: #58740c;

}

.playground{
  width: 800px;
  height: 800px;
  background-color: #b7d5553a;
  float: right;
  margin: 40px;



}

.app{
  display: inline-block;
  margin: 20px;

}

.arrow{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 70px;
  left: 1245px;
  position: absolute;   
}


.parent{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgb(4, 4, 4);
}

.child{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
}

.button-save button{
  position: absolute;
  left: 1210px;
  width: 150px;
  border-color:#8ba61354;
  border-style: solid;
  border-width: medium;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;	
  letter-spacing: 3px;
  color: #2d3b04;

  
}

.buttons{
  align-items:flex-end;
  display: flex;
  padding-inline: 10px;
}